@media only screen and (max-width: 1920px) and (min-width: 1500px) {
	.container {
		max-width: 1720px;
	}
}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1445px) {}

@media only screen and (max-width: 1366px) {
	html {
		font-size: 15px;
	}
}

@media (max-width: 1199.98px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 991.98px) {
	html {
		font-size: 13px;
	}
}

@media (max-width: 767.98px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 575.98px) {}

@media (max-width: 320.98px) {}